#heart {
position: absolute;
left: 50%;
top: 50%;
transform : translate(-50%, -50%);
font-size: 60px;
}

.heartAnimation {
    animation: heart 2s ease-out infinite;
}

@keyframes heart {
    0% {
        transform : translate(-50%, -50%) scale(2);
    }
    
    25% {
        transform : translate(-50%, -50%) scale(3); 
        color: pink;
    }
     
    50% {
        transform : translate(-50%, -50%) scale(2); 
        color: blue;
    }
    
    75% {
        transform : translate(-50%, -50%) scale(3.3); 
        color: yellow;
    }
}