body {
  background: #a87f32;
}

.the-container {
  display: block;
  position: absolute;
  width: 450px;
  height: 380px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.c-window {
  display: block;
  position: relative;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 100%;
  border: 5px solid #32a84a;
  background: #5ddfe8;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
  transition: background 1s ease-in-out;
}

.c-window .the-sun {
  display: block;
  position: relative;
  top: 19px;
  height: 42px;
  width: 42px;
  background: #ffee94;
  border-radius: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 40px #ffee94;
  left: 30px;
  transition: top 0.5s ease-in-out;
}

.c-window .the-moon {
  position: relative;
  height: 26px;
  width: 26px;
  top: 200px;
  background: #eee;
  border-radius: 100%;
  box-shadow: 0px 0px 20px #fff;
  transition: top 0.6s ease-in-out;
}

.c-window .the-cat {
  display: block;
  position: absolute;
  bottom: -20px;
  height: 150px;
  width: 145px;
  margin: 0 50px;
  background: #555555;
  transition: bottom 0.25s ease-in-out;
}

.c-window .the-cat:before {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid #777;
  top: -20px;
  left: 0;
  position: absolute;
  content: '';
}
.c-window .the-cat:after {
  width: 0;
  height: 0;
  border-right: 0px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 20px solid #777;
  top: -20px;
  right: 0;
  position: absolute;
  content: '';
}

.c-window .the-cat:hover {
  display: block;
  position: absolute;
  bottom: -40px;
  cursor: pointer;
}

.c-window .the-cat .eyes {
  display: block;
  position: absolute;
  background: #ffee94;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  bottom: 80px;
}

.c-window .the-cat:hover .eyes {
  display: block;
  position: absolute;
  height: 10px;
  width: 45px;
  bottom: 100px;
}

.c-window .the-cat .eyes.left {
  left: 12px;
}

.c-window .the-cat .eyes.right {
  right: 12px;
}

.c-window .the-cat .eyes .pupil {
  display: block;
  position: relative;
  background: #d9add2;
  height: 100%;
  width: 7px;
  border-radius: 100%;
  margin: 0 auto;
  transition: width 0.5s ease-in-out;
}

.c-window .the-cat .nose {
  display: block;
  position: relative;
  background: #9e4790;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin: 0 auto;
  top: 45px;
}

input[type='checkbox'] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input#toggle[type='checkbox'] {
  display: none;
}

label {
  position: absolute;
  height: 47px;
  width: 125px;
  display: block;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  cursor: pointer;
  margin: 0 auto;
}

.switch {
  display: block;
  position: relative;
  border-bottom: 1px solid #fff;
  border-radius: 27px;
  background: #ffb399;
  box-shadow: inset 0 0 10px #888888;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  height: 40px;
  width: 100px;
  margin: 0px auto 30px auto;
}

.switch .button {
  display: block;
  position: absolute;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #aaa;
  border-radius: 100%;
  background: #ffcfbf;
  height: 34px;
  width: 34px;
  top: 4px;
  left: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.switch .button .b-inside {
  display: block;
  position: absolute;
  border: 1px solid #888;
  border-radius: 100%;
  background: #ffee94;
  height: 17px;
  width: 17px;
  top: 7px;
  left: 7px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.day-night-cont {
  display: block;
  position: absolute;
  width: 180px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 40px;
  top: 0px;
}

.day-night-cont .the-sun {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  height: 23px;
  width: 23px;
  border-radius: 100%;
  background: #ffee94;
  box-shadow: 0px 0px 40px #ffee94;
}

.day-night-cont .the-moon {
  display: block;
  position: absolute;
  right: 8px;
  top: 10px;
  height: 22px;
  width: 22px;
  border-radius: 100%;
  background: #eee;
  box-shadow: 0px 0px 20px #eee;
}

.day-night-cont .the-moon .moon-inside {
  display: block;
  position: absolute;
  left: 8px;
  height: 22px;
  width: 22px;
  border-radius: 100%;
  background: #ffcfbf;
}

.switch .button {
  transition: left 0.25s ease-in-out;
  -webkit-transition: left 0.25s ease-in-out;
}

input[type='checkbox']:checked ~ .switch .button {
  position: absolute;
  left: 64px;
}

input[type='checkbox']:checked ~ .c-window {
  background: #111;
}

input[type='checkbox']:checked ~ .c-window .the-sun {
  top: 200px;
}

input[type='checkbox']:checked ~ .c-window .the-moon {
  display: block;
  position: absolute;
  margin: 0 auto;
  top: 42px;
  left: 60px;
}

input[type='checkbox']:checked ~ .c-window .the-cat {
  background: #555;
}

input[type='checkbox']:checked ~ .c-window .the-cat:before {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid #555;
  top: -20px;
  left: 0;
  position: absolute;
  content: '';
}
input[type='checkbox']:checked ~ .c-window .the-cat:after {
  width: 0;
  height: 0;
  border-right: 0px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 20px solid #555;
  top: -20px;
  right: 0;
  position: absolute;
  content: '';
}

input[type='checkbox']:checked ~ .c-window .the-cat .eyes .pupil {
  height: 90%;
  width: 36px;
  margin: 5% auto;
}

input[type='checkbox']:checked ~ .c-window .the-cat:hover .eyes {
  height: 40px;
  bottom: 80px;
}
